.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.column img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.portfolioContainer {
  max-width: 1024px;
  margin: auto;
  background-color: white;
  margin-bottom: 5em;
  margin-top: 5em;
}

@media screen and (max-width: 1140px) {
  .portfolioContainer {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 820px) {
  .portfolioContainer {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    width: auto;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .portfolioContainer {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
  }

  .portfolioHeader {
    display: flex;
    flex-flow: column wrap;
    padding-top: 2em;
  }

  .portfolioHeaderLeft {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .portfolioHeaderRight {
    justify-content: center;
    width: 100%;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
